.wrp{
    width: 100%; height: 80vh;
    margin-top: 100px;
    position: relative;
}
.portada{
    width: 100%; height: 100%;
    background: url("./assets/campo.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}
.contenido{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(16, 47, 27, 0.3);
}
.contenido .info{
    width: 100%;
    max-width: 600px;
    padding-left: 10rem;
}
.contenido .info h1{
    color: #fff;
    font-size: 40px;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.contenido .info a{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: transparent;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;
    letter-spacing: 0.5px; /*Para separar un poco las letras*/
    border: 2px solid #fff;
}
.curveado{
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.curveado img{
    width: 100%;
}
@media(max-width:768px){
    .contenido .info h1{
        font-size: 35px;
    }    
}
.waveContainer{
    height: 100vh;
    overflow: hidden;
  }
  .viewBox{
    height: 100%;
    width: 100%;
  }
  .path{
    stroke: none;
    fill: rgb(237, 115, 115);
  }
  .slick-dots li button {
    color: #fff;
    opacity: 1;
    
}
.slick-dots li button::before {
    color: #fff;
    
}